

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('Flag.jpg') center;
    color: #ffffff;
    text-align: center;
    padding: 16rem 2rem;
}

h1 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}

.hero .content {
    display: flex;             /* side by side layout */
    align-items: flex-start;   /* aligns text to the top of the image */
    gap: 20px;                 /* space between image and text */
}

.hero .content img {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 600px;              /* adjust size as needed */
    height: auto;
    border-radius: 0px;       /* optional styling */
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px; 
    text-align: center;              /* remove default margin */
}

.hero .text-section button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
    border-radius: 0px;
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 1rem;
}


.hero .text-section {
    max-width: 650px;
    color: rgb(252, 241, 241); 
}

.hero .text-section h2 {
    font-size: 24px;
    margin-top: 0;
}

.hero .text-section ul {
    padding-left: 20px;
}

.hero .text-section li {
    margin-bottom: 8px;
    font-size: 16px;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    background-color: #0770bb;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header nav a {
    color: #fff;
    text-decoration: none;
}


/* Contact Form */
.contact-form {
    background-color: #0770bb;
    color: #fff;
    padding: 4rem 2rem;
    text-align: center;
}

.contact-form form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

.contact-form button {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    background-color: #ff6600;
    color: #fff;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    background-color: #0770bb;
    color: #fff;
}